.result-table {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    font-family: 'Roboto Slab', fantasy;
}

.result-table td {
    background: #D8E6F3;
    width: 110px;
}



.result-table th{
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

.result-table th,
.result-table td{
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

.result-table-row{
    text-align: center;
}