/* fonts: Roboto Slab, PT Sans Caption  */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);
a {
    text-decoration: none;
    color: white;
}

.graph{
    stroke-width: 1.5;
}


/*
    shapka
 */
.header{
    width: 100%;
    background: #5171d1;
    display: flex;
    justify-content: space-around;
}

.lab_info,
.result-table,
.Y-element-label,
.X-radios,
button,
.R-checkboxes{
    font-size: 100%;
    font-family: 'Roboto Slab', fantasy;
}


.lab_info{
    font-size: 20px;
    color: white;
}


.everything_table{
    width: 100%;
}

.everything_table .first-row-in-everything-table {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5%;
}




/*
    input
*/


.X-radios,
.R-checkboxes,
.Y-element-label,
#coordinates-form button{
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-weight: bolder;
}
.R-checkboxes,
#coordinates-form button,
#value-validate-text{
    margin-top: 10%;
}


.x-element-label,
.x_radio,
.r-element-label,
.r-checkbox,
#value-validate-text{
    display: block;
    text-align: center;
}


input[type=text] {
    margin-left: 5%;
}



/*
    graph
 */




/*
    table
 */


.result-table {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.result-table td {
    background: #D8E6F3;
    width: 110px;
}

.result-table th{
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

.result-table th,
.result-table td{
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

.result-table-cell-text{
    text-align: center;
}