/* fonts: Roboto Slab, PT Sans Caption  */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);
a {
    text-decoration: none;
    color: white;
}

/*
    shapka
 */
.header{
    width: 100%;
    background: #5171d1;
    display: flex;
    justify-content: space-around;
}
.lab_info{
    color: white;
}
.lab_info,
.result-table,
.Y_element,
.X-radios,
.R_checkboxes{
    font-size: 100%;
    font-family: 'Roboto Slab', serif;
}


.everything_table{
    width: 100%;
}

.everything_table .first-row-in-everything-table {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5%;
}




/*
    input
*/
.X-radios,
.R_checkboxes,
.Y_element{
    display: flex;
    justify-content: space-between;
    margin: 20%;
    font-weight: bolder;
}


.x-element-label,
.x_radio,
.r_element_label,
.r_checkbox{
    display: block;
    text-align: center;
}


input[type=text] {
    margin-left: 5%;
}


/*
    graph
 */




/*
    table
 */


.result-table {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.result-table td {
    background: #D8E6F3;
    width: 110px;
}

.result-table th{
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

.result-table th,
.result-table td{
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

.result-table-cell-text{
    text-align: center;
}