/* fonts: Roboto Slab, PT Sans Caption  */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);
a {
    text-decoration: none;
    color: white;
}

/*
    shapka
 */
.header{
    width: 100%;
    background: #5171d1;
    display: flex;
    justify-content: space-around;
}
.lab_info {
    color: white;
    font-size: 100%;
    font-family: 'Roboto Slab', serif;
}



/*
    input
*/
.X_radios,
.R_checkboxes{
    display: flex;
    justify-content: space-between;
    width: 0;
    padding: 5px;
}
.x_element_label,
.x_radio,
.r_element_label,
.r_checkbox{
    display: block;
    text-align: center;
}


/*
    table
 */
.result_table {
    width: 100%;
}

td{
    border: 1px solid black;
    background: pink;
}

.table_cell_text{
    text-align: center;
}